# Created by https://www.toptal.com/developers/gitignore/api/python
### Python ###
*.py[cod]
__pycache__/
*.so
*.egg-info/
dist/
build/

### Virtualenv ###
venv/
.env
*.sqlite3
media/

### OS ###
.DS_Store
Thumbs.db
